.display{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#display_text{
    font-size: 60px;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}