$dark-background-colour: black;
$primary-text-colour: white;
$number-buttons-colour: rgb(50,50,50);
$operator-buttons-colour: rgb(243,163,60);
$extra-buttons-colour: rgb(165,165,165);
$secondary-text-colour: black;
$fonts: Helvetica, sans-serif;
